@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}
.quill {
  border: 1px solid #f1f1f3;
  border-radius: 10px;
  padding: 10px 25px;
  @apply flex flex-col items-center;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-text4 bg-opacity-10 inline-block rounded-xl py-3 px-5 text-center;
  }
}
.ql-container.ql-snow,
.ql-editor {
  width: 100%;
  @apply border-none font-primary text-sm;
}
.ql-editor {
  padding-top: 10px;
}
.ql-editor.ql-blank::before {
  @apply text-sm not-italic text-text4;
}
